.gallery__item {
    width: 330px;
    height: 440px;
    background-color: var(--white-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px;
    box-shadow: 0 0 20px 2px rgba(252, 250, 250, 0.3);
    transition: all 0.3s ease-in-out;
}

.gallery__item:hover {

}

.gallery__img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px;
}

.gallery__placeholder {
    display: flex;
    background-color: rgb(179, 175, 175);
    color: white;
    font-size: 50px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery__name {
    height: 10%;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.08rem;
    font-weight: 400;
    align-self: flex-start;
}

.gallery__description {
    height: 15%;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: start;
    align-self: flex-start;
    overflow: hidden;
    font-size: 0.85rem;
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.gallery__link{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: inherit;
    padding-top: 40%;
}

